.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
}

.login-btn {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.error-msg {
  color: #ff0b37;
  font-size: 14px;
}